<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="joseeduardo.com.projectmemorygame">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.Game"
            android:label="@string/title_activity_game"
            android:parentActivityName=".ui.MainScreen"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="joseeduardo.com.projectmemorygame.ui.MainScreen"/>
        </activity>
        <activity
            android:name=".ui.LostScreen"
            android:label="@string/title_activity_lost_screen"
            android:parentActivityName=".ui.Game"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="joseeduardo.com.projectmemorygame.ui.Game"/>
        </activity>
        <activity
            android:name=".ui.HowToPlay"
            android:label="@string/title_activity_how_to_play"
            android:parentActivityName=".ui.MainScreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="joseeduardo.com.projectmemorygame.ui.MainScreen"/>
        </activity>
    </application>

</manifest>